

.c-organization-form{
   
    justify-content: center;
    align-items: center;
    padding:10%;

    &__text{
       justify-content: center;

    }
    &__form{
    display: flex;
    flex-direction: column;
    align-items: center;
    }
  
    &__error {
        color: #d32f2f;
        margin-top: 1;
        margin-bottom: 0;
    }


}